html, body {
    height: 100%;
}

#main-container {
    background-color: #f5e9d3;
}

.main-text {
    margin-top: 100px;
}

.centered {
    text-align: center;
}


.name {

    font-weight: bold;
    font-size: 6em;
    text-shadow: 0px 1px 0px #291414;

    display: inline;
}
.main-body {
    z-index: 10000;
}
.desc {
    font-size: 2.5em;
}

.desc-row {
    margin-top: 20px;
}
.text-style {
    font-family: 'EB Garamond',Georgia, serif;
     color: #74322c;
}
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -200px;
  /* Pad bottom by footer height */
  padding: 0 0 200px;
}
.footer {
    height: 200px;
    padding: 30px;
}
.footer-container {

    background-color: #74322c;

}
.element {
    display:inline;
}
.info {
    margin: 0px 0px 5px;
    line-height: 30px;
    height: 30px;
    letter-spacing: 0.0625em;

}

.info p {
    color: #F5E9D3;
    font-size: 1.6em;
    margin-bottom:0px;
    margin-left: 10px;
    font-weight: bold;
    line-height: 30px;
    vertical-align: middle;

}
.info p a {
        color: #F5E9D3;

}
.icons {
    fill: #F5E9D3;
    margin-right:2px;
}
.typed-cursor{
    opacity: 1;
    font-size: 2.5em;
    color: #74322c;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Media queries */

@media (max-width: 768px) {

.main-text {
    margin-top: 50px;
}

.footer-container {
    margin-top: 10px;
}

.name {
    font-size: 5em;
}

}